

<style>

	.page-title {
		background: url(/assets/img/page-title-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 160px 0 60px 0;
		text-align: center;
		position: relative;
	}

		.page-title:before {
			content: "";
			background-color: rgba(0, 0, 0, 0.4);
			position: absolute;
			inset: 0;
		}

</style>
<main>
	<div class="page-title">
		<div class="container position-relative">
			<h1 style="color: white">OrderSucces</h1>
			<nav class="breadcrumbs">
				<ol>
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li style="color: white" class="current">OrderSucces</li>
				</ol>
			</nav>
		</div>
	</div>
	</main>

	<div>
		<h1 class="text-center mb-5 mt-5" >Ödəniş uğurla həyata keçirildi, bizi seçdiyiniz üçün təşəkkür edirik
			</h1>
			
	</div>
	<!-- About Section -->
