@using LineConstruction.BLa.DTOs
@model OurServiceDTO

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input asp-for="Title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>

        <div class="mb-3">
            <input asp-for="Description" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div>
            <span class="text-danger">@Html.ValidationSummary()</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>